#accomodations
{
    height: 600px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 2%;
}

a
{
    text-decoration: none;
    color:black;
}

#accomodations a:hover
{
    transition-duration: 500ms;
    transform: scale(1.04);
}

#accomodations strong
{
    color: black;
    font-weight: bold;
}

#accomodations_results
{
    display: flex;
    flex-direction: column;
    width: 62%;
    height: 100%;
    background-color: #f2f2f2;
    border-radius: 20px;
    justify-content: center;
    padding: 0px 30px 0px 30px;
}

#accomodations_list
{
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.box_description
{
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 12px #CDCAD1;
    height: 40%;
    width: 30%;
}

.box_description img
{
    width: 97%;
    height: 60%;
    margin: 1.5%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.textdescription
{
    margin: 0px 0px 0px 20px;
    display: flex;
    flex-direction: column;
}

h4
{
    margin: 0px 0px 2px 0px
}

.textdescription p
{
    margin: 0;
}

.stars i
{
    font-size: 10px;
}

.fa-star
{
    color: #0065FC;
}

.fa-star-2
{
    color: #f2f2f2;
}

aside
{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 25%;
    height: 100%;
    border-radius: 20px;
    padding: 0px 30px 0px 30px;
    justify-content: space-around;
}

aside h2
{
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
}

.popular_box
{
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 12px #CDCAD1;
    height: 23%;
    width: 100%;
}

.popular_box img
{
    width: 35%;
    margin: 1.5%;
    border-radius: 19px 0px 0px 19px;
    object-fit: cover;
}

.popular_textdescription
{
    padding: 15px 10px 10px 10px; 
    width: 40%;  
}

.popular_textdescription p
{
    margin-bottom: 40px;
}
