.box_description
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 12px #CDCAD1;
    height: 40%;
    width: 30%;
    text-decoration: none;
    color:black;
    display: inline-block;
}

.box_description img
{
    width: 97%;
    height: 60%;
    margin: 1.5%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
