/* ACTIVITIES */

#activities
{
    display: flex;
    flex-direction: column;
}

#activities_list
{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

#activities_list a
{
    text-decoration: none;
    color: black;
    border: 0.5px #f2f2f2 solid;
    border-radius: 20px;
    box-shadow: 2px 2px 12px #CDCAD1;
}

#activities_list a:hover
{
    transform: scale(1.05);
    transition-duration: 500ms;
}

figure
{
    display: flex;
    flex-direction: column;
    margin: 0;
}

figure img
{
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

figcaption
{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    margin-left: 20px;
}

.portrait_box
{
    height: 100px;
    width: 22%;
}

.portrait_card
{
    height: 100%;
    width: 100%;
}

.portrait_card img
{
    height: 90%;
}

.portrait_card figcaption
{
    height: 10%;
}
