/* ACTIVITIES */

#activities
{
    display: flex;
    flex-direction: column;
    height: 500px;
    margin-top: 20px
}

#activities_list
{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    height: 80%;
    width: 100%;
}

#activities_list a
{
    text-decoration: none;
    color: black;
    border: 0.5px #f2f2f2 solid;
    border-radius: 20px;
    box-shadow: 2px 2px 12px #CDCAD1;
}

#activities_list a:hover
{
    transform: scale(1.05);
    transition-duration: 500ms;
}

figure
{
    display: flex;
    flex-direction: column;
    margin: 0;
}

figure img
{
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

figcaption
{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    margin-left: 20px;
}

.portrait_box
{
    height: 100%;
    width: 22%;
}

.portrait_card
{
    height: 100%;
    width: 100%;
}

.portrait_card img
{
    height: 90%;
}

.portrait_card figcaption
{
    height: 10%;
}

.cards_container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%
}

#landscape_box1
{
    width: 100%;
    height: 55%;
}

#landscape_card1, #landscape_card2, #landscape_card3, #landscape_card4
{
    width: 100%;
    height: 100%;
}

#landscape_card1 img
{
    height: 82%;
}

#landscape_card1 figcaption
{
    height: 18%;
}

#landscape_box2
{
    width: 100%;
    height: 35%;
}

#landscape_card2 img
{
    height: 72%;
}

#landscape_card2 figcaption
{
    height: 28%
}

#landscape_box3, #landscape_box4
{
    width: 100%;
    height: 45%;
}

#landscape_card3 img, #landscape_card4 img
{
    height: 78%;
}

#landscape_card3 figcaption, #landscape_card4 figcaption
{
    height: 22%;
}

#landscape_card3 img
{
    object-position: top;
}
