/* Main elements of the page */

body
{
    font-family: 'Raleway', sans-serif;
    color: black;
    padding: 0;
}

h1
{
    font-weight: bold;
    font-size: 20px;
}

h2
{
    font-weight: bold;
    font-size: 16px;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 60px;
}

nav a
{
    font-size: 14px;
    color: black;
    text-decoration: none;
    padding-bottom: 3px;
}

strong
{
    color: #0065FC;
}

li a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 25px;
    background-color: white;
}

p
{
    font-size: 12px;
    font-weight: normal;
}

#page_block
{
    width: 90%;
    margin: auto;
}