/* Main elements of the page */

body
{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    color: black;
    margin: 0;
}

#page_block
{
    width: 90%;
    margin: auto;
}

h1, h2
{
    font-weight: 900;
    font-size: 16px;
}

h3
{
    font-weight: bold;
    font-size: 14px;
}

h4

{
    font-weight: bold;
    font-size: 12px;
}

p
{
    font-size: 12px;
    font-weight: normal;
}

strong
{
    color: #0065FC;
    font-weight: bold;
}

header h2
{
    margin-top: 10px;
    margin-bottom: 0;
}

header p
{
    margin-top: 5px;
    margin-bottom: 15px;
}

/* Mobile Media Queries */

@media screen and (max-width: 767px)
{
    body 
    {
        overflow-x: hidden;
    }
    
    #page_block
    {
        width: 100%;
        margin: 0;
    }

    h2
    {
        font-size: 22px;
        width: 90%;
        margin: 10px 0px 0px 20px;
    }

    h3 
    {
        font-size: 18px;
    }

    h4 
    {
        font-size: 16px;
    }

    p 
    {
        font-size: 14px;
    }

    header p
    {
        margin: 10px 20px 30px 20px;
        font-size: 16px;
    }
}

/* Tablet Media Queries */

@media screen and (min-width: 768px) and (max-width:1024px)
{
	#page_block
	{
		width: 100%;
		margin: auto;
	}

	header
	{
		margin-left:20px;
	}

	header h2
	{
		font-size: 22px;
		margin: 20px 20px 10px 0px
	}

	section h2
	{
		width: 90%;
		margin: auto;
		font-size: 22px;
	}

	h3
	{
		margin-top: 35px;
		margin-bottom: 0px;
		font-size: 18px;	
	}

	p
	{
		font-size: 16px;
	}

	header p 
	{
		margin: 0px 20px 25px 0px;
	}

	h4
	{
		font-weight: bold;
		font-size: 16px;
	}
}

