#page_header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#logo img
{
    width: 100px;
    height: 50px;
}

/* Search bar */

#searchbar
{
    display: flex;
    width: 30%;

}

.mapmarker
{
    display: inline-block;
    background-color: #f2f2f2;
    border-radius : 10px 0px 0px 10px;
    width: 11%;
}

.mapmarker i
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 100%;
}

.searchfield
{
    display: inline-block;
    border: 1px solid #f2f2f2;
    padding: 10px;
    color: black;
    font-family: 'Raleway';
    font-size: 12px;
    font-weight: bold;
    border-right-style: none;
    border-left-style: none;
    width: 52%;

}

.searchbutton
{
    border: none;
    color: white;
    font-family: 'Raleway';
    font-size: 12px;
    font-weight: bold;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    width: 28%;
}

.searchtext
{
    display: block;
}

.searchicon
{
    display: none;
}

/* Filters */

#filters
{
    display: flex;
    align-items: center;

}

#filters ul
{
    list-style: none;
    display: flex;
}

#filters li
{
    margin-right: 40px;
    font-weight: bold;
    font-size: 12px;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    padding: 0px 20px 0px 0px;
}

#filters li:hover
{
    background-color: #deebff;
}

ul a
{
    color: black;
    text-decoration: none;
}

.iconfilter
{
    display: inline-block;
    background-color: #deebff;
    border-radius: 50px;
    margin-right: 10px;
}

.iconfilter i
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 35px;
    width: 35px;
    color: #0065FC;
}

/* Information */

.iconinfo
{
    display: inline-block;
    background-color: white;
    border-radius: 50px;
    border: 1px solid grey;
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.iconinfo i
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 20px;
    width: 20px;
    color: #0065FC;
}

/* Mobile Media Queries */

@media screen and (max-width: 767px)
{
    header
    {
        width: 100%;
        margin: auto;
    }

    #searchbar
    {
        width: 90%;
        height: 50px;
        justify-content: center;
        margin: 0px 20px 20px 20px;  
    }

    .mapmarker 
    {
        width: 15%;
    }

    .mapmarker i 
    {
        font-size: 18px;
    }

    .searchfield
    {
        width: 70%;
        font-size: 14px;
    }

    .searchbutton
    {
        width: 15%;
        border-radius: 15px;
        background-size: 20px;
        position: relative;
        left: -5px;
    }

    .searchtext
    {
        display: none;
    }

    .searchicon
    {
        display: inline-block;
        font-size: 18px;
    }

    #filters
    {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }

    #filters h3
    {
        margin-bottom: 0;
    }

    #filters ul 
    {
        flex-wrap: wrap;
        padding: 0;
    }

    #filters li 
    {
        font-size: 14px;
        margin: 0px 12px 10px 0px;
        padding: 0px 20px 0px 0px;
    }

    .iconfilter i 
    {
        width: 50px;
        height: 50px;
        font-size: 18px;
    }

}